---
const {name, path, style} = Astro.props
---

<div class="flex flex-col md:flex-row w-5/6 md:w-4/5 mx-auto  text-secondary-color">
    <div class="w-full md:w-3/5 h-min my-auto text-center text-3xl md:text-6xl italic mb-10 md:mb-auto">
        <p class="opacity-50">{name}</p>
        <p class="text-white font-bold w-full">{name}</p>
        <p class="opacity-50">{name}</p>
    </div>
    <div class="w-full md:w-2/5 mb-10 md:mb-0">
        <img src={path} alt="" class="mx-auto float" style={style}>
    </div>
</div>

